<p></p>
<p></p>
<div class=" mt2">
  <h5 class="text-primary  text-center" >Job List</h5>
  <div class="card p-3 shadow">
      <div class="card-bd">
            <table class="table table-hover">
                <thead>
                  <tr >
                    <th scope="col">Category</th>
                    <th scope="col">CompanyName</th>
                    <th scope="col">JobTitle</th>
                    <th scope="col">Description</th>
                    <th scope="col">Salary</th>
                    <th scope="col">ApplyStartDate</th>
                    <th scope="col">ApplyEndDate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of jobList">
                    <td>{{item.category}}</td>
                    <td>{{item.companyName}}</td>
                    <td>{{item.jobTitle}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.salary}}</td>
                    <td>{{item.applyStart}}</td>
                    <td>{{item.applyEnd}}</td>
                    <td>
                      <button class="btn btn-warning" (click)="onEdit(item)" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                  </td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteJob(item)">Delete</button>
                    </td>
                  </tr>
                 </tbody>
              </table>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">EDIT JOB</h1>        
      </div>
      <div class="modal-body">
        <form [formGroup]="editjobForm" >
          <label for="id">id</label>
          <div class="form-floating mb-3">
            <input type="text" readonly  formControlName="id" name="id">
          </div>
          <label for="category">Category</label>
          <div class="form-floating mb-3">                        
              <select class="form-control" formControlName="category" name="category" >
                  <option value="FrontEnd" selected>FrontEnd</option>
                  <option value="BackEnd">BackEnd</option>
                  <option value="FullStack">FullStack</option>
              </select>
          </div>
          <div class="text-danger" *ngIf="Category.touched &&Category.invalid && Category.errors">
              <div *ngIf="Category.errors['required']">Please choose category.</div>
              <div *ngIf="Category.errors['minlength']">The minimum length of category is 3.</div>
          </div>
          <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="companyName" name="companyName">
              <label for="companyName">CompanyName</label>
          </div>
          <div class="text-danger" *ngIf="CompanyName.touched &&CompanyName.invalid && CompanyName.errors">
              <div *ngIf="CompanyName.errors['required']">Please fill company name.</div>
              <div *ngIf="CompanyName.errors['minlength']">The minimum length of company name is 3.</div>
          </div>
          <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="jobTitle" name="jobTitle" >
              <label for="jobTitle">JobTitle</label>
          </div>
          <div class="text-danger" *ngIf="JobTitle.touched &&JobTitle.invalid && JobTitle.errors">
              <div *ngIf="JobTitle.errors['required']">Please fill job title.</div>
              <div *ngIf="JobTitle.errors['minlength']">The minimum length of job title is 3.</div>
          </div>
          <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="description" name="description">
              <label for="description">Description</label>
          </div>
          <div class="text-danger" *ngIf="Description.touched &&Description.invalid && Description.errors">
              <div *ngIf="Description.errors['required']">Please fill job description.</div>
              <div *ngIf="Description.errors['minlength']">The minimum length of job description is 3.</div>
          </div>
          <div class="form-floating mb-3">
              <input type="text" class="form-control" formControlName="salary" name="salary" >
              <label for="salary">Salary</label>
          </div>
          <div class="text-danger" *ngIf="Salary.touched &&Salary.invalid && Salary.errors">
              <div *ngIf="Salary.errors['required']">Please fill salary.</div>
          </div>
          <div class="form-floating mb-3">
              <input type="date" class="form-control" formControlName="applyStart" name="applyStart">
              <label for="applyStart">ApplyStartDate</label>
          </div>
          <div class="text-danger" *ngIf="ApplyStart.touched &&ApplyStart.invalid && ApplyStart.errors">
              <div *ngIf="ApplyStart.errors['required']">Please fill job apply start date.</div>
          </div>
          <div class="form-floating mb-3">
              <input type="date" class="form-control" formControlName="applyEnd" name="applyEnd" >
              <label for="applyEnd">ApplyEndDate</label>
          </div>
          <div class="text-danger" *ngIf="ApplyEnd.touched &&ApplyEnd.invalid && ApplyEnd.errors">
              <div *ngIf="ApplyEnd.errors['required']">Please fill job apply end date.</div>
          </div>
          <div class="text-center">
              <button [disabled]="editjobForm.invalid" type="button" class="btn btn-primary" (click)="UpdateJob()">Update</button>
              &nbsp;<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
      </form>
      </div>      
    </div>
  </div>
</div>
